.first_section {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background:#d8fbea;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.animated {
  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s; /* don't forget to set a duration! */
}

.first_section img {
    width: 600px;
    height: 400px;
    margin-left: 500px;
}

.animated {
  visibility: visible !important;
}

.gt_started {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.gt_started p {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
}

.start_btn{
    display: block;
    width: 200px;
    height: 60px;
    line-height: 40px;
    font-size: 18px;
    color: #FEFBFB;
    background: black;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    cursor: pointer;
  }
  
  .start_btn a{
    position: relative;
    z-index: 2;
    text-decoration: none;
    color: #fff;
  }
  
.start_btn::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #FEFBFB;
    transition: all .35s;
    color: #1B1B1E;
  }
  
  .start_btn:hover{
    color: #fff;
    color: #1B1B1E;
  }

  .start_btn a:hover {
    color: #1B1B1E;
  }
  
  .start_btn:hover::after{
    width: 100%;
  }

  @media only screen and (max-width: 960px) {
    .first_section {
      flex-direction: column;
    }
    .gt_started {
      margin-top: 100px;
    }
    .first_section img{
      margin-left: 60px;
      margin-top: 100px;
    }
  }
