body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: #301E67;
}

.nav_bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 65px;
    background: #03001C;
    position: sticky;
    justify-content: flex-start;
    align-items: center;
}

.nav_btn {
  width: 30px;
  display: none;
  border: 4px solid #5B8FB9;
  padding: 8px 10px;
  cursor: pointer;
}

.nav_btn div {
  height: 5px !important;
  background: #fff;
  margin: 3px 0px 3px 0px;
  border-radius: 25px;
}

.nav_logo {
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 4px;
    margin-left: 40px;
    background: -webkit-linear-gradient(45deg, #5B8FB9, #301E67);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

.special_links {
    width: 500px;
    margin-left: 780px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.special_links a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.special_links a:hover{
    color: #5B8FB9;
}

.special_links button {
    width: 100px;
    height: 35px;
    background: #301E67;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}


.special_links button:hover {
    background: #5B8FB9;
    transition: 0.7s;
}

.first_sec {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.my_img {
    width: 500px;
    height: 700px;
    margin-left: 250px;
}

.getting_started {
    line-height: 50px;
    margin-left: 200px;
}

.getting_started p {
    font-size: 50px;
    color: #5B8FB9;
}

.start_btn{
    display: block;
    width: 200px;
    height: 60px;
    line-height: 40px;
    border: 2px solid #5B8FB9;
    font-size: 18px;
    color: #fff;
    background: #03001C;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    cursor: pointer;
  }
  
  .start_btn span{
    position: relative;
    z-index: 2;
  }
  
.start_btn::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #5B8FB9;
    transition: all .35s;
  }
  
  .start_btn:hover{
    color: #fff;
  }
  
  .start_btn:hover::after{
    width: 100%;
  }


@media only screen and (max-width: 960px) {

    .first_sec {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .nav_logo {
        left: 40px;
    }

    .nav_btn {
        display: block;
    }

    .my_img {
        width: 400px;
        height: 500px;
        padding-right: 200px;
        margin-bottom: 50px;
        margin-top: 100px;
    }

    .getting_started p {
        font-size: 40px;
        margin-top: 100px;
    }
    .getting_started button {
        margin-left: 60px;
    }

    .getting_started {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-right: 200px;
    }

    .special_links {
        margin-left: 690px;
        margin-top: 240px;
        flex-direction: column;       
    }
    .lnk {
        margin: 15px;
        padding: 2px;
        color: white;
        z-index: -9999;
        opacity: 0;
    }

    .lnk.active {
        opacity: 1;
        z-index: 10000000;
    }
}


