.body {
    margin-top: 60px;
}


.body button {
    background-color: #69f0ae;
    height: 40px;
    margin-left: 20px;
    margin-top: 20px;
}

.items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: center;
    margin: 20px;
    max-width: 350px;
    color: #FCFCFC;
    background: #3B404F;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.name {
    font-size: 20px;
    font-weight: bold;
}

.quantity {
    font-size: 17px;
}

.description {
    font-size: 14px;
}

.buttons {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

.buttons button {
    margin-left: 20px;
}

.buttons :last-child {
    background-color: #69f0ae;
    color: black;
}

.buttons :first-child {
    background-color:#FEFBFB;
    color: black;
}