
.nav_bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 65px;
    background: #1B1B1E;
    position: fixed;
    margin-bottom: 20px;
    justify-content: flex-start;
    align-items: center;
    z-index: 10;
    top: 0;
}

.nav_bar.is_active {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 65px;
    background: #d8fbea;
    position: fixed;
    margin-bottom: 20px;
    justify-content: flex-start;
    align-items: center;
    z-index: 10;
    top: 0;
}

.nav_bar.is_active h1 {
    color: #3B404F;
    font-size: 35px;
    margin-top: 16px;
    margin-left: 37%;
}

.nav_bar h1 {
    color: white;
    font-size: 35px;
    margin-top: 16px;
    margin-left: 37%;
}

.nav_btn {
  width: 30px;
  display: none;
  border: 4px solid #69f0ae;
  padding: 8px 10px;
  cursor: pointer;
  margin-left: auto;
  margin-right: 20px;
}

.nav_btn div {
  height: 5px !important;
  background: #fff;
  margin: 3px 0px 3px 0px;
  border-radius: 25px;
  transition: all .5s;
}

.nav_logo {
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 4px;
    margin-left: 40px;
    padding: 10px;
    background-image: linear-gradient(to right, #3B404F 0%, #69f0ae 100%);
    background-size: 100%;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

.special_links {
    width: 300px;
    margin-left: auto; 
    margin-right: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.special_links a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}

.nav_bar.is_active .special_links a{
    color: #3B404F;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}

.special_links a:hover{
    color: #69f0ae;
}

.nav_bar.is_active .special_links a:hover{
    color: #69f0ae;
}

.special_links button:hover {
    background: #D8DBE2;
    transition: 0.7s;
    color: black;
}

.min_lnk {
    width: 100%;
    position: fixed;
    top: 45px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 10000;
    justify-content: center;
    align-items: center;
    line-height: 70px;
    background: #3B404F;
    border-top: 2px solid #69f0ae;
    border-bottom: 2px solid #69f0ae;
    opacity: 0;
    z-index: -9999;
    transition: all .5s;
  }

  .min_lnk a {
    text-decoration: none;
    color: white;
  }

  .min_lnk a:hover {
    text-decoration: none;
    color: #69f0ae;
  }

  .min_lnk hr {
    width: 100%;
    border: 0;
    border-top: 2px solid #69f0ae;
  }

@media only screen and (max-width: 960px) {

    .nav_logo {
        left: 40px;
    }
    .nav_bar h1 {
        margin-left: 26%;
    }
    .nav_bar.nav_bar.is_active h1 {
        margin-left: 26%;
    }

    .nav_btn {
        display: block;
    }

    .special_links {
        opacity: 0;
        z-index: -99999;
    }
    
    .one.is_active {
        translate: 0 10px;
        rotate: -45deg;
        transition: all .5s;
    }

    .two.is_active {
        opacity: 0;
        z-index: -9999;
        transition: all .5s;
    }

    .three.is_active {
        translate: 0 -6px;
        rotate: 45deg;
        transition: all .5s;
    }

    .min_lnk.active {
        opacity: 1;
        z-index: 100000;
        transition: all .5s;
        position: fixed;
        top: 65px;
    }
}